body{
    font-family: 'Jost';
    background-color: #fff;
    color: #3c4852;
}
nav{
    background-color: #fbf5f5;
}
nav{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: background, border, border-radius, box-shadow;
}
.navbar-nav>li>a{
    display: inline-block;
    font-size: 0.875rem;
    font-family: var(--skillup-heading-font);
    font-weight: 500;
    background: transparent !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    text-transform: capitalize;
    padding: 29px 15px;
    
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus {
    color: #03b97c;
}
.on-scroll{
    background: white;
    box-shadow: black 1px;
}

@media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
}

.navbar-nav>li>.dropdown-menu {
    min-width: 240px;
}
.navbar-nav .dropdown-menu {
    border-radius: 0.5rem !important;
    -webkit-box-shadow: 0px 0px 42px 0px rgb(32 32 32 / 15%);
    box-shadow: 0px 0px 42px 0px rgb(32 32 32 / 15%);
    padding: 15px;
    border: 0;
}
.navbar-nav>li>.dropdown-menu:before {
    transform: rotate(45deg);
    background-color: #fff;
    content: "";
    width: 22px;
    height: 22px;
    left: 27px;
    top: -12px;
    position: absolute;
}
.btn-login{
    background-color: #03b97c;
    color: white;
    width: 120px;
    padding: 0.75rem !important;
}
.btn-login:hover{
    border: 1px solid #03b97c;
    background-color: #fff;
    color: #03b97c;
}
.main-content{
    background-color: #fbf5f5;

}

.content{
    height: 925px;
    background-color: #fbf5f5;
}
.main{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 170px 0px;
}
.anthem{
    width: 38%;
}
.heading>h2{
    font-weight: 600;
}
@media only screen and (min-width: 320px){
.desc>span{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2pt;
}
}
@media only screen and (min-width: 768px){
.desc>span {
   width: 50% !important;;
}
}
.search-btn{
    background-color: #03b97c;
    color: white;
}
.input-group{
    /* width: 85%!important; */
}
.search-input{

}
.middle-section{
    background-color: #fff; 
    box-shadow: rgb(136 136 136) 1px 1px 14px 1px !important;
    margin-bottom: 5rem;
}

.rating {
    text-align: center;
    line-height: 0.7rem
    font-size 22px;
}
.rating>h2{
    font-size: 38px;
}
.rating-content{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    align-self: center;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 0.5pt;
    text-align: left;
    text-align: left;
}
.highlight{
    color: #03b97c;
}
.carousel-indicators [data-bs-target] {
    background-color: orange;
    /* margin-top: 2rem; */
}
.tag-badge{
    font-size: 15px;
 color: #03b97c !important;
 background-color: rgba(3, 185, 124, 0.1);
 font-weight: 400;
}
.price-tag {
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.payment{
    font-size: 24px;
    color: #03b97c;
    font-weight: 500;
}
.card-title>a{
    color: #3c4852;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0;
}
.card-title>a:hover{
    color: #03b97c;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.video, .level{
    color: orange !important;
    margin-right: 0.5rem;
}
.time{
    margin-right: 0.5rem;
}
.card-desc{
    margin-right: 2.5rem !important;
}
.avatar{
    border-radius: 50%;
    width: 60%;
    height: 68%;
}
.tutor-section{
    height: 786px;
    margin-bottom: 2rem;
}
.cat-card :hover{
    background-color: #03b97c;
    color: #fff !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}
svg{
    color: #03b97c;
}
svg:hover{
    color: white;
}
.categories{
    background-color: #fbf5f5;
    padding: 2rem;
}
.enroll-btn{
    width: 30%;
    color: #03b97c;
    border: 1px solid #03b97c !important;
}
enroll-btn:hover{
    background-color: #03b97c;
    color: #fff;
}
.student-review{
    background-color: #fbf5f5;
}